button:focus,select:focus{
  outline:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
html,body{
  background-color: #000;
}
*,*:before,*:after{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
.clearfix:before,
.clearfix:after{
  display: table;
  content: " ";
}
.clearfix:after{
  clear: both;
}
.container{
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}
.btn{
  color: #f5f5f5;
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  background-color:transparent;
}
.header{
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  height: 50px;
  padding:0 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #f5f5f5;
  z-index: 2;
  transform: translateY(0px);
  transition: transform 0.4s ease-out;
}
.header.hide{
  transform: translateY(-50px);
  transition: transform 0.6s ease-out;
}
.btn_showHeader{
  font-size: 20px;
  margin-left: -10px;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1;
  transition: all 0.5s ease-out;
}
.btn_hideHeader{
  transform: translateY(50px) rotate(180deg);
  transition: all 0.5s ease-out;
}
.header-heading,
.header-launcherIcon,
.reportbug{
  vertical-align: middle;
  display: inline-block;
}
.header-launcherIcon{
}
.header-heading{
  font-size: 20px;
  margin:0 20px;
}
.reportbug{
  color: #000;
}
video,
canvas{
  position: absolute;
  top: 0;
  left: 0;
}
canvas{
  display: none;
}
.btn_take,
.btn_redo{
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  left:50%;
  bottom:7px;
}
.btn_redo,
.btn_save{
  display: none;
}
.btn_save{
  font-size: 30px;
  padding:2px 7px;
  left: 10px;
  bottom:10px;
}
.sourcesVideo{
  font-size: 12px;
  text-transform: capitalize;
  height: 34px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
}